Host 127.0.0.1
  Port 8022

Host ::1
  Port 8022

Host *
  CheckHostIP no
  StrictHostKeyChecking no
  ForwardAgent no
  ForwardX11 no
  UserKnownHostsFile /dev/null
  IdentityFile /home/nmcain/.ssh/fuchsia_ed25519
  ControlPersist yes
  ControlMaster auto

  # When expanded, the ControlPath below cannot have more than 90 characters
  # (total of 108 minus 18 used by a random suffix added by ssh).
  # '%C' expands to 40 chars and there are 9 fixed chars, so '~' can expand to
  # up to 41 chars, which is a reasonable limit for a user's home in most
  # situations. If '~' expands to more than 41 chars, the ssh connection
  # will fail with an error like:
  #     unix_listener: path "..." too long for Unix domain socket
  # A possible solution is to use /tmp instead of ~, but it has
  # its own security concerns.
  ControlPath ~/.ssh/fx-%C

  ConnectTimeout 10
  ServerAliveInterval 1
  ServerAliveCountMax 10
  LogLevel ERROR
  PubkeyAuthentication yes
  PasswordAuthentication no
